.cvPage {
  position: relative;
  width: 822px;
  height: 1080px;
  right: 0px;
  top: 0px;
}

.cvStamp {
  position: absolute;
  width: 42px;
  height: 42px;
  left: 78px;
  top: 994px;
}

.name {
  position: absolute;
  width: 123px;
  height: 42px;
  left: 80px;
  top: 68px;

  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 42px;

  color: #f93b1d;
}

.surName {
  position: absolute;
  width: 166px;
  height: 42px;
  left: 223px;
  top: 68px;

  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 42px;

  color: #f93b1d;
}

.personal-info img {
  position: absolute;
  width: 246px;
  height: 246px;
  left: 501px;
  top: 48px;

  border-radius: 133px;
}

.email img {
  position: absolute;
  width: 16.67px;
  height: 16.67px;
  left: 82.67px;
  right: 8.33%;
  top: 130.67px;
  bottom: 8.33%;
}

.email p {
  position: absolute;
  width: 187px;
  height: 21px;
  left: 111px;
  top: 127px;

  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;

  color: #1a1a1a;
}

.phone img {
  position: absolute;
  width: 16.67px;
  height: 16.67px;
  left: 82.67px;
  right: 8.33%;
  top: 160.67px;
  bottom: 8.33%;
}

.phone p {
  position: absolute;
  width: 151px;
  height: 21px;
  left: 111px;
  top: 158px;

  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;

  color: #1a1a1a;
}

.about-info h3 {
  position: absolute;
  width: 118px;
  min-height: 22px;
  left: 0px;
  top: 213px;

  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 22px;

  color: #f93b1d;
}
.about-info p {
  position: absolute;
  width: 432px;
  height: 72px;
  left: 0px;
  top: 250px;

  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;

  text-transform: lowercase;

  color: #000000;
}

.bottomLine {
  position: relative;
  width: 680px;
  min-height: 341px;
  margin: auto;
}

.experience,
.education {
  width: 680px;
  min-height: 222px;
  margin: auto;
  padding-top: 24px;
  padding-bottom: 32px;
}

.exp,
.edu {
  position: relative;
  width: 680px;
  min-height: 222px;
}

.exp h3,
.edu h3 {
  width: 143px;
  height: 22px;
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 15px;

  color: #f93b1d;
}

.exps,
.edus {
  position: relative;
  width: 680px;
  min-height: 120px;
}

.exps h4,
.edus h4 {
  position: absolute;
  width: 400px;
  height: 20px;

  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;

  color: #1a1a1a;
}

.exps .years,
.edus .year {
  position: absolute;
  width: 300px;
  height: 19px;
  top: 25px;

  font-family: "Helvetica Neue";
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #919191;
}

.exps .descr,
.edus .descrEdu {
  position: absolute;
  width: 662px;
  height: 66px;

  top: 64px;

  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;

  text-transform: capitalize;

  color: #000000;
}
