<section class="cvPage">
  <section class="personal-info">
    <h2 class="name">{{ fName }}</h2>
    <h2 class="surName">{{ surName }}</h2>
    <img [src]="image" alt="personal-pic" title="personal-pic" *ngIf="image" />
    <div class="email" *ngIf="email">
      <img src="../../assets/Images/email.png" alt="email" title="email" />
      <p>{{ email }}</p>
    </div>
    <div class="phone" *ngIf="phone">
      <img src="../../assets/Images/phone.png" alt="phone" title="phone" />
      <p>{{ phone }}</p>
    </div>
    <div
      class="bottomLine"
      [ngStyle]="{
        'border-bottom': lineValid ? '1px solid #C8C8C8' : 'none'
      }"
    >
      <div class="about-info" *ngIf="aboutMe">
        <h3>ჩემ შესახებ</h3>
        <p>
          {{ aboutMe }}
        </p>
      </div>
    </div>
  </section>
  <section class="experience">
    <div
      class="exp"
      *ngIf="experience"
      [ngStyle]="{
        'border-bottom': secondLine ? '1px solid #C8C8C8' : 'none'
      }"
    >
      <h3>გამოცდილება</h3>
      <div class="exps" *ngFor="let item of experience; index as i">
        <h4>{{ item["position"] }} , {{ item["employer"] }}</h4>
        <p class="years">{{ item["start_date"] }}{{ item["due_date"] }}</p>
        <p class="descr">{{ item["description"] }}</p>
      </div>
    </div>
  </section>
  <section class="education">
    <div class="edu" *ngIf="education">
      <h3>განათლება</h3>
      <div class="edus" *ngFor="let item of education; index as i">
        <h4>{{ item["institute"] }} , {{ item["degree"] }}</h4>
        <p class="year">{{ item["due_date"] }}</p>
        <p class="descrEdu">{{ item["description"] }}</p>
      </div>
    </div>
  </section>

  <img
    class="cvStamp"
    src="../../assets/Images/LOGO-12-1.png"
    alt="CV stamp"
    title="cv stamp"
  />
</section>
