.forms {
  width: calc(100vw - 880px);
  min-height: 1080px;
  background-color: rgb(247, 247, 247);
}

header {
  display: flex;
  height: 88px;
  width: 798px;
  margin: auto;
  border-bottom: 1px solid black;
}

header h1 {
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  margin-top: 47px;
}

p {
  font-family: "Helvetica Neue";

  font-weight: 400;
  font-size: 20px;
  line-height: 23.86px;
  position: absolute;
  width: 29px;
  height: 24px;
  left: 900px;
  top: 49px;
}

.backButton button {
  position: absolute;
  width: 9.21px;
  height: 16px;
  left: 62px;
  top: 57px;
}

.prevBtn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 18px 30px;
  gap: 20px;

  position: absolute;
  width: 113px;
  height: 48px;
  bottom: 0px;
  left: 0px;

  background: #6b40e3;
  border-radius: 4px;

  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;

  letter-spacing: 0.08em;

  color: #ffffff;
}

.nextBtn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 18px 40px;
  gap: 20px;

  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 151px;
  height: 48px;

  background: #6b40e3;
  border-radius: 4px;

  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;

  letter-spacing: 0.08em;

  color: #ffffff;
}

.buttons {
  width: 798px;
  height: 150px;
  position: relative;
  margin: auto;
}

input:focus,
textarea:focus,
option:focus {
  outline-color: #bcbcbc;
}

.experience {
  position: relative;
  height: 573px;
  width: 798px;

  margin: auto;
  margin-top: 77px;
  border-bottom: 1px solid #c1c1c1;
  margin-bottom: 70px;
}

.position,
.employer {
  height: 125px;
  width: 798px;
  margin-bottom: 15px;
}

.position .topLabel,
.employer .topLabel {
  width: 798px;
  height: 21px;
  margin-bottom: 8px;

  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;

  display: flex;
  align-items: center;

  color: #000000;
}

.position input,
.employer input {
  box-sizing: border-box;

  width: 798px;
  height: 48px;

  background: #ffffff;
  border: 1px solid #bcbcbc;
  border-radius: 4px;
  margin-bottom: 8px;
  padding-left: 16px;
}

.bottomLabel {
  width: 371px;
  height: 21px;

  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  color: #2e2e2e;
}

.dates {
  display: flex;
  width: 798px;
  justify-content: space-between;
}

.dates .startDate,
.dates .dueDate {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 371px;
  text-align: start;
}

.dates .startDate input,
.dates .dueDate input {
  width: 371px;
  height: 48px;

  background: #ffffff;
  border: 1px solid #bcbcbc;
  border-radius: 4px;
  margin-top: 8px;
  margin-bottom: 8px;

  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  padding-left: 16px;
  padding-right: 13px;

  padding-top: 13px;
  padding-bottom: 14px;
}

.dates .startDate label,
.dates .dueDate label {
  width: 371px;
  height: 21px;

  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: #000000;
}

.description {
  width: 798px;
  display: flex;
  flex-direction: column;

  width: 798px;
  text-align: start;
}

.description label {
  margin-top: 20px;
  width: 798px;
  height: 21px;

  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  font-display: bold;

  display: flex;
  align-items: center;

  color: #000000;
}

.description textarea {
  box-sizing: border-box;
  margin-top: 8px;
  margin-bottom: 30px;

  width: 798px;
  height: 103px;

  background: #ffffff;
  border: 1px solid #bcbcbc;
  border-radius: 4px;

  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  padding-bottom: 16px;
  padding-left: 16px;
  padding-top: 13px;
  padding-right: 16px;

  color: rgba(0, 0, 0, 0.6);
}

.extraExp {
  margin-top: 45px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 18px;
  padding-left: 25px;
  gap: 20px;

  position: absolute;
  width: 289px;
  height: 48px;

  background: #62a1eb;
  border-radius: 4px;
  border: 1px solid #62a1eb;

  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;

  color: #ffffff;
}
.extraExpBtn {
  position: relative;
  width: 798px;
  height: 100px;
  position: relative;
  margin: auto;
}

.positionInvalid {
  position: absolute;
  margin-top: 208.75px;
  margin-left: 951.5px;
}

.positionValid {
  position: absolute;
  margin-top: 208.75px;
  margin-left: 881.5px;
  z-index: 7;
}

.employerInvalid {
  position: absolute;
  margin-top: 348.75px;
  margin-left: 951.5px;
}

.employerValid {
  position: absolute;
  margin-top: 348.75px;
  margin-left: 881.5px;
  z-index: 7;
}
