/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("./assets/font/HelveticaNeue.ttc") format("truetype");
}
